*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#undertekst{
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 650px;
    margin-bottom: 50px;
    margin-top: 15px;
    text-align:center;
    line-height:23px;
}

span.object {
    font-size: 30px;
    font-weight: 300;
}

span.break {
    font-size: 80px;
    font-weight: 100;
    top: 18px;
    position: relative;
    font-family: serif;
}

// Plugins (folder: /plugins)
@import "plugins/clearfix";
@import "plugins/reset";
@import "plugins/grid";



// SCSS Modules (folder: /modules)


// Partials (folder: /partials)
@import "partials/colors";
@import "partials/prefixes";
@import "partials/seperator";

// Main CSS files
//@import "style";
@import "navigation";
@import "home";
@import "products";
@import "contact";
@import "about";

// Media Queries (folder: /media_queries)
@import "media_queries/960";